.cuisineButton{
   display: inline;
   margin-right: 30px;
   padding: 4px;
}

.cuisineButton:hover{
    border: solid white;
    transition: 0.5s;
    color:white;
    cursor: pointer;
}

.cuisineList{
    height:38px;
    padding: 8px 0;
    background-color: #259bb0;
}

