.cuisineButton{
    margin-right: 25px;
    padding: 8px;
    color: #3b3b3b;
    border-radius: 5px;
    background-color: #36b3c9;
    border-style:none;
}

.cuisineButton:hover{
    background-color: #259bb0;
    transition: 0.5s;
    color:white;
}