
// .column1{
//     background-color:blue;
// }

.column2{
    text-align: left;
}

// .image{
//     height:
// }

.container11{
    margin-top: 10vh;
    width: 90%;
}

.row11{
    text-align: center;
    height: 530px;
    border-style: solid;
    padding: 10px 0;
}
// .detailContainer{
//     text-align: center;
// }